/* Scrollbar */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Transisi & Animasi UI*/
.carousel-item {
    transition: opacity 0.7s ease-in-out;
}